.carouselContainer {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.carouselWrapper {
  width: 100%;
  height: 100%;
}

.carousel {
  width: 100%;

  overflow: hidden;

  position: relative;


  border-radius: 3px;

  height: 100%;
}

.slider {
  display: flex;
  transition: all 0.5s;

  position: relative;
  height: 100%;
}

.sliderItem {
  flex-basis: 100%;
  width: 100%;
}


.sliderImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sliderImageWrapper img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.dots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  max-width: 70%;
  margin: 30px auto 0 auto;
}

.dot {
  text-align: center;
  max-height: 10px;
  height: 5px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  margin-right: 1%;
  border-radius: 10px;
  cursor: pointer;
  transition: all .5s;
}

.dot.active {
  background: rgba(0, 0, 0, 0.5);
  transition: all .5s
}


/* btns */

.btnNext {
  right: 0;
}


.arrowContainerLeft {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowContainerRight {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 25%;
  height: 35%;
  color: green;
  background: hotpink;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  max-height: 100px;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-5px);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  transform: translateY(-5px);
}

.btn:active {
  transform: translateY(-3px);
} 






